{
    "parser": "babel-eslint",
    "extends": ["eslint-config-airbnb-es5", "prettier"],
    "plugins": ["react", "prettier"],
    "settings": {
        "react": {
            "version": "16.5.2"
        }
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true
    },
    "rules": {
        "camelcase": "error",
        "brace-style": ["error", "1tbs"],
        "spaced-comment": "off",
        "eqeqeq": [2, "smart"],
        "no-eq-null": 0,
        "func-names": "off",
        "one-var": "off",
        "space-before-function-paren": ["warn", "never"],
        "consistent-return": "off",
        "padded-blocks": "off",
        "no-else-return": "off",
        "dot-notation": "error",
        "no-param-reassign": "error",
        "valid-jsdoc": "off",
        "no-alert": "error",
        "no-extra-bind": "error",
        "react/no-unused-prop-types": "error",
        "react/no-multi-comp": "error",
        "react/jsx-wrap-multilines": 0,
        "react/jsx-boolean-value": "error",
        "react/jsx-no-bind": "error",
        "react/jsx-no-duplicate-props": "error",
        "react/jsx-max-depth": [2, { "max": 8 }],
        "react/boolean-prop-naming": "error",
        "react/no-deprecated": "error",
        "react/no-direct-mutation-state": "error",
        "react/no-find-dom-node": "error",
        "react/no-is-mounted": "error",
        "react/no-unsafe": "error",
        "react/no-unused-state": "error",
        "react/prop-types": "error",
        "prettier/prettier": "error"
    }
}
